@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To My Spa</h1>

    </div>
    <div>
        <p>

            <a asp-controller="User" asp-action="Add"><h1>Sign In</h1></a> <!--this will create a link to go to Event List page-->

        </p>
    </div>
