

<h1>**Enter Your Informations**</h1>
</br>

<form method="POST" action="/user">

    <div class="container" action ="/User" >

    <lebel>
        Email Id:
        <input type="email" name="email" placeholder="Email.." />
    </lebel>
</br>
    <lebel>
        UserName:
        <input type="text" name="userName" placeholder="Username.." />
    </lebel>
    </br>
    <lebel>
        PassWord:
        <input type="password" name="password" placeholder="Password.." />
    </lebel>
    </br>
    <lebel>
      Re-enter Password:
        <input type="password" name="varify" placeholder="Re-enter.." />
    </lebel>
</br>
    <input type="Submit" value="Submit!" />

    </div>

</form>
