@*<div class="container">*@

<h2>
    Hi @ViewBag.SpaUser.ToUpper()
</h2>
<br>
<div class="text-center">

    <h1>Welcome  to Our Spa</h1>
    <br>

</div>

<h2>Date:@ViewBag.date</h2>
<br>
@*</div>*@



<p>

    <a asp-controller="Spa" asp-action="Index"><h3>Spa Menu</h3></a> <!--this will create a link to go to Event List page-->

</p>
<p>

    <a asp-controller="User" asp-action="Add"><h3>Log in Page</h3></a> <!--this will create a link to go to Event List page-->

</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="active">
    <h2>Join Date:@ViewBag.date</h2>

    <h2>Email:@ViewBag.email</h2>
</div>