body {
    background-color: lightpink;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        background-color: lightblue;
    }

    to {
        background-color: lightcoral;
    }
}


input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

/*Annimation welcome*/
.text-center h1 {
    overflow: hidden;  /*Ensures the content is not revealed until the animation */
    border-right: .15em;  /*The typwriter cursor */
    white-space: nowrap;  /*Keeps the content on a single line */
    margin: 0 auto;  /*Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;  /*Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

 /*The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/*------------------------------------------------------*/

h2{
    text-align:center;
    text-decoration-style:dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blueviolet;
}
h1{
    text-align:center;
}



.active h2 {
    text-align: center;
    font-size: medium;
    color: cadetblue;
    font-family: fantasy;
}

.active {
    background-color: cornsilk;
    padding-top: 20px;
    border: groove;
    border-image: round;
    border-left: hidden;
    border-right: hidden;
    padding-bottom: 20px;
}